@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Martel|Cookie');
.row bg-color-company-name-description {
    background-color: #AFEEEE;
    margin-left: 0;
}

.section {
    background-color: #AFEEEE;
}
.company-name {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    font-size: 6em;
    background-color: #AFEEEE;
    margin-left: 0;
    color: #000080;
    font-family: Cookie;
    font-weight: bolder;
    text-decoration: underline;
    text-align:center;
}
.description {
    padding-left: 30px;
    padding-top:5px;
    margin-top: 0;
    background-color: #AFEEEE;
    font-size: 3.75em;
    font-family: Cookie;
    font-weight: bold;
    color: #000080;
    text-align:center;
}
.col-heading {
    background-color: #AFEEEE;
}
.logo {
    background: url("../images/Berthe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    border-width:4px;
    border-color:#000080;
    border-style:inset;
 }
 #map {
    min-height: 360px;
    margin-top: 30px;
}
.example {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
}
#monet {
    background-attachment: fixed;
    background-image: url('../images/harbour.jpg');
    background-position: bottom;
    background-size: cover;
    z-index: 3;
    opacity: rgba(0,0,0,0.5);
   }
.h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}
.main {
    color:#ffffff;
    margin-top: 25px;
    font-size:3em;
    font-weight: bolder;
    text-align: center;
}
.input-boxes {
        width: 100%;
    /* line-height: 50px; */
    font-size: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
}
#reset-button {
    margin-bottom: 20px;
    margin-top: 90px;
}
    

