@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Martel|Cookie');
.row bg-color-company-name-description {
    background-color: #AFEEEE;
    margin-left: 0;
}

.section {
    background-color: #AFEEEE;
}

.company-name {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    font-size: 6em;
    background-color: #AFEEEE;
    margin-left: 0;
    color: #000080;
    font-family: Cookie;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

.description {
    padding-left: 30px;
    padding-top: 5px;
    margin-top: 0;
    background-color: #AFEEEE;
    font-size: 3.75em;
    font-family: Cookie;
    font-weight: bold;
    color: #000080;
    text-align: center;
}

.col-heading {
    background-color: #AFEEEE;
}

.logo {
    background: url("../images/Berthe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    border-width: 4px;
    border-color: #000080;
    border-style: inset;
}

#map {
    min-height: 360px;
    margin-top: 30px;
    border-width: 8px;
    border-color: #d3d3d3;
    border-style: ridge;
    height: 500px;
}
.example {
    padding: 5px;
    font-size: 17px;
    border: 3px solid #000080;
    background: #afeeee;
    width:350px;
   margin-left: 160px;
   margin-top: 30px;
   }
   .example :hover {
       background-color: pink;
   }
 #monet {
    background-attachment: fixed;
    background-image: url('../images/harbour.jpg');
    background-position: bottom;
    background-size: cover;
    z-index: 3;
    opacity: rgba(0, 0, 0, 0.5);
    height: 700px;
}

.h1 {
    color: #ffffff;
    font-weight: bold;
}

h2 {
    color: #ffffff;
    font-family: Martel;
    text-align: center;
    margin-left: 10px;
}

.main {
    color: #ffffff;
    margin-top: 55px;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    font-family: Martel;
    text-decoration: underline;
    text-shadow: #d3d3d3;
}

.cities {
    font-family: Martel;
    margin-top: 55px;
    font-size: 3em;
    font-weight: bold;
    text-align: justify;
    margin-left: 10px;
    color: #ffffff;
    margin-left: 10px;
    word-spacing: normal;
}
#reset-button {
    margin-bottom: 40px;
    margin-top: 90px;
    margin-left: 270px;
    width:100px;
}
.us{
    font-family: Cookie;
    font-size: 3.5em;
    color: #ffffff;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    }
    h3{
        color: #ffffff;
        text-align: center;
        font-size: 2em;
        font-family: Martel;
        font-weight: bolder;
        margin-top: 10px;
    }
.contact {
     background-image: url("../images/boat.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 6;
    height: 300px;
}
#form{
    width:400px;
}
.form-check-label {
    margin-bottom: 10px;
    display: block;
    position: relative;
    font-family: Martel;
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 270px;
    color: #ffffff;
}
.footer {
   background-color: #ccccff;
   height:115px;
   }
.icon-row {
 text-align: center;
 letter-spacing: 75px;
 margin-top: 100px;
 font-size: 2em;
 font-weight: bolder;
 }
.icon-row :hover {
    color: #000080;
}
.copy{
    margin-bottom: 10px;
    margin-left: 10px;
    letter-spacing: normal;
    font-size: 0.5em;
    font-style:Martel; 
}
.fa-fa-copyright {
    margin-left: 10px;
    margin-bottom: 10px;
}
    

