@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Martel|Cookie');
.row bg-color-company-name-description {
    background-color: #AFEEEE;
    margin-left: 0;
}

.section {
    background-color: #AFEEEE;
}

.company-name {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    font-size: 6em;
    background-color: #AFEEEE;
    margin-left: 0;
    color: #000080;
    font-family: Cookie;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}
.main {
    margin-top: 0px;
}

.description {
    padding-left: 30px;
    padding-top: 5px;
    background-color: #AFEEEE;
    font-size: 3.75em;
    font-family: Cookie;
    font-weight: bold;
    color: #000080;
    text-align: center;
}

.col-heading {
    background-color: #AFEEEE;
}

.logo {
    background: url("../images/Berthe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    border-width: 4px;
    border-color: #000080;
    border-style: inset;
}
.des{
    text-align :center;
    font-family:Cookie;
    font-size:2.5em;
    padding-top:15px;
    color:#ffffff;
}

#map {
    min-height: 360px;
    margin-top: 30px;
    border-width: 8px;
    border-color: #d3d3d3;
    border-style: ridge;
    height: 500px;
}
input[type=text] {
    width:200px;
    height:60px;
    margin-left: 200px;
    margin-top: 20px;
    background-color: #fffbf8;
    border-radius: 10px;
    font-weight: bold;
    color: #000080;
 
   
    padding:5px;
    font-family: Martel;
    font-size:2em;
}
input[type=text]:focus {
  width:250px;  
}
    

.example {
    padding: 5px;
    font-size: 17px;
    border: 3px solid #000080;
    background: #afeeee;
    width:350px;
   margin-left: 160px;
   margin-top: 30px;
   }
   .example :hover {
       background-color: pink;
   }
 #monet {
    background-attachment: fixed;
    background-image: url('../images/Giverny5.jpg');
    background-position: bottom;
    background-size: cover;
    z-index: 3;
    opacity: rgba(0, 0, 0, 0.5);
    height:350px;
   }
.jumbotron {
    color: rgba(0,0,0,0.3);
}

.h1 {
    color: #ffffff;
    font-weight: bold;
    margin-top: 0px;
}

.preferred {
    color: #ffffff;
    font-family: Cookie;
    text-align: center;
    margin-left:35%;
    font-size: 3em;
    font-weight: bold;
} 
#looking-for {
    color: #ffffff;
    font-size:3.5em;
    font-family: Cookie;
    margin-left: 35%;
    font-weight: bold;
    margin-top: 20px;
}
#choices{
    margin-left: 35%;
    width:160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    border-radius: 10px;
 }
#cities{
     margin-left: 35%;
    width:160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    border-radius: 10px;
    height:20px;
    
    
}

.main {
    color: #ffffff;
    margin-top: 35px;
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
    font-family: Martel;
    text-decoration: underline;
    text-shadow: #d3d3d3;
}
.cities {
    font-family: Martel;
    margin-top: 55px;
    font-size: 3em;
    font-weight: bold;
    text-align: justify;
    margin-left: 10px;
    color: #ffffff;
    margin-left: 10px;
    word-spacing: normal;
}

h2 {
    font-family: Martel;
    font-size: 3em;
    margin-left: 10px;
    color:#ffffff;
}

.us{
    font-family: Cookie;
    font-size: 3.5em;
    color: #ffffff;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    }
    h3{
        color: #ffffff;
        text-align: center;
        font-size: 2em;
        font-family: Martel;
        font-weight: bolder;
        margin-top: 10px;
    }
.contact {
     background-image: url("../images/boat.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 6;
    height: 450px;
}
#form{
    width:400px;
}
.form-check-label {
    margin-bottom: 10px;
    display: block;
    position: relative;
    font-family: Martel;
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 270px;
    color: #ffffff;
}
#exampleInputEmail1 {
    width:360px;
    font-family: Martel;
    color: #ffffff;
    margin-left: 200px;
}
.btn btn-primary {
    width:360px;
}
#fo{
    margin-left: 40%;
    margin-top: 60px;
    width:150px;
    border-radius: 10px;
}
.footer {
   background-color: #ccccff;
   height:115px;
   }
.icon-row {
 text-align: center;
 letter-spacing: 75px;
 margin-top: 100px;
 font-size: 2em;
 font-weight: bolder;
 }
.icon-row :hover {
    color: #000080;
}
.fa fa-copyright{

    margin-bottom: 10px;
    margin-left: 10px;
    letter-spacing: 0.5px;
    font-size: 0.5em;
    font-style:Martel; 
}

.slide {
    background-color: #3195B7;
    height: 450px;
    width:700px;
}
.offset-3 col-md-6 jumbotron {
    color:rgba(0,0,0,0.2);
   border-radius:150px;
   margin-top: 200px;
   margin-bottom: 20px;
}
#hi {
    background-color: pink;
    height:500px;
    margin-top:0px;
}
#res{
    background-color: green;
}
